@import "../utils/parameters";
@import "../utils/mixins";

.header {
    padding-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    

}

.header-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}


.header-logo {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 149%;
    letter-spacing: 1px;
    color: #40A3F8;
    text-decoration: none;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

}

.header-link__main {
    font-family: $headers-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: #40A3F8;
    text-decoration: none;
    padding: 2rem;

    &:hover {
        background-color: #40A3F8;
        color: #FFFFFF;
        transition: background-color 0.4s ease, color 0.4s ease;
    }
}

.header-link__text {
    font-family: $headers-font;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: #6E5F5F;
    opacity: 0.3;
    margin-left: 5rem;
    text-decoration: none;
    padding: 2rem;

    &:hover {
        background-color: #40A3F8;
        transition: background-color 0.2s ease, color 0.2s ease;
    }
}

.header-link__get{
    font-family: $headers-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 147%;
    color: #FFFFFF;
    text-decoration: none;
    background: #40A3F8;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-left: 5rem;
    display: inline-block;
    padding: 2rem;

    &:hover {
        transform: scaleY(1.2);
    }

    
}



@media (max-width: $md){
    .header-link__text {
        margin-left: 2rem;
    }
   
    
}

@media (max-width: $xs) {
    .header-link__get {
        margin-top: 1rem;
    }  
    
    .header {
        margin-bottom: 2rem;
    }
}