@import "../utils/parameters";

.quality-section {
    overflow: hidden;
    padding-top: 10rem;
    margin-bottom: 10rem;
}

.quality-section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.quality-section__img {
    flex: 50%;
}


.quality-img {
    max-width: 100%;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 4s linear 4s normal none infinite running rot;
    
}

@keyframes rot {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }


.best-quality {
    font-family: $body-font;
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: $c-text;
    margin-bottom: 2rem;
}

.guality-section__descriotion {
    flex: 1 0 50%;
    max-width: 50%;
    padding-left: 5rem;
}

.best-quality__nav {
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: $c-text;
    list-style-image: url(../imgs/point.png);
    
}

.quality-explore {
    background: rgb(64, 163, 248);
    border-radius: 5px;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20rem;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    &:hover {
        transform: scaleY(1.2);
    }
    
}

.quality-explore__img {
    max-width: 100%;
    padding-left: 2rem;
}


@media (max-width: $md) {

    .quality-section {
        margin-bottom: 1rem;
    }
    
    .best-quality{
        font-size: 3.5rem;
    }

    .quality-section__container {
        display: block;
    }

    .quality-img {
        position: static;
    }

        .guality-section__descriotion {
            flex: 1 0 100%;
            max-width: 100%;
    }

    .quality-section__img {
        margin-bottom: 3rem;
    }

    .quality-explore {
        margin-bottom: 2rem;
    }
}

@media (max-width: $sm) {

    .quality-section__container {
        display: block;
    }

    .quality-img {
        position: static;
    }

        .guality-section__descriotion {
            flex: 1 0 100%;
            max-width: 100%;
    }
        
   
    .best-quality{
        font-size: 3rem;
    }
}