section.apps-section 
    .container 
        .apps-section__container
            .apps-section__img
                img(src="./assets/imgs/phone.png", alt="phone").apps-img
            .apps-discription 
                h2.apps-title Mobile apps are available Get HealthCare for free!
                p.apps-text Get on-demand access to a doctor on your phone with the free HealthCare mobile app. Download and register on our app for free and feel safe for all your family
                div.apps
                    a(href="#").googleplay-link
                        img(src="./assets/imgs/google play.png", alt="google play").googleplay
                    a(href="#").appstore-link
                        img(src="./assets/imgs/app store.png", alt="app store").appstore
                    

