section.book-section 
    .container 
        .book-section__container
            div.book-section__text 
                h2.book-section__title It’s time change your life today
                a(href="#").book-section__link Book an Appoinment 
            div.book-section__img
                img(src="./assets/imgs/doctor.png", alt="doctor").book-img