section.steps-section 
    .container 
        .steps-section__container
            h2.step-section__main 3 Easy Steps and Get Your Solution
        div.steps-section__row
            mixin item(img, title, text)
                div.steps-section__mixit
                    img(src=img, alt="row").steps-section__img
                    div.steps-section__head=title
                    div.steps-section__description=text
            +item('./assets/imgs/find.png', 'Find best doctor’s', 'Find your doctor easily with a minimum of effort. We have kept everything organised for you.')
            +item('./assets/imgs/calendar.png', 'Get Appointment', 'Ask for an appointment of the doctor quickly with almost a single click. We take care of the rest.')
            +item('./assets/imgs/consultation.png', 'Happy Consultations', 'Do consultations and  take the service based on your appointment. Get back to good health.')