section.doctor-section 
    .container 
        .doctor-section__container
            h2.doctor-section__main Meet Our Certified Online Doctors
            img(src="./assets/imgs/line.svg", alt="line").doctor-img
            p.doctor-text Our online doctors have an average of 15 years experience and a 98% satisfaction rating, they really set us apart!
        div.doctor-section__row
            mixin item(img, title, text)
                div.doctor-section__mixit
                    img(src=img, alt="row").doctor-section__img
                    div.doctor-section__head=title
                    div.doctor-section__description=text
                    div.messagebox
                            a(href="#").facebook-link
                                img(src="./assets/imgs/faceb.svg", alt="facebook").facebook
                            a(href="#").rw-link
                                img(src="./assets/imgs/twitt.svg", alt="rw").rw
                            a(href="#").ld-link 
                                img(src="./assets/imgs/linkd.svg", alt="ld").ld
            +item('./assets/imgs/dr.amanda.png', 'Dr. Amanda Linda ', 'Dentist Specilist')
            +item('./assets/imgs/dr.alisa.png', 'Dr. Alisa Rahman', 'Carddiologist Specilist')
            +item('./assets/imgs/dr.anthony.png', 'Dr. Anthony Fauci', 'Neurology Specilist')
            +item('./assets/imgs/dr.khalid.png', 'Dr. Khalid Abbed', 'Cancer Specilist')
        a(href="#").doctor-explore Explore All Doctors
        
         