footer.footer
    .container 
        .footer__container
            div.footer-main
                div.footer-main-nav
                        a(href="#").header-logo HEALTCARE.
                        p.footer-address Metairie, 3689  Bassel Street, LA, Louisiana
                        p.footer-address Contact us: 225-788-5489
                        div.footer-messanger    
                                a(href="https://www.facebook.com/").facebook-footer__link
                                        img(src="./assets/imgs/facebook-footer.svg", alt="facebook")
                                a(href="https://www.instagram.com/").instagram-footer__link 
                                        img(src="./assets/imgs/instagram-footer.svg", alt="instagram")
                                a(href="https://twitter.com/?lang=ru").twitter__link 
                                        img(src="./assets/imgs/twitter.svg", alt="twitter")
                                a(href="https://www.youtube.com/").youtube__link 
                                        img(src="./assets/imgs/youtube.svg", alt="youtube")
                div.footer-nav
                        ul.footer-menu 
                                li.footer-menu__nav 
                                        p.footer-menu__main Category
                                        p.footer-menu__text Home
                                        p.footer-menu__text About
                                        p.footer-menu__text Services
                                        p.footer-menu__text Reviews
                                        p.footer-menu__text Article
                                li.footer-menu__nav 
                                        p.footer-menu__main About
                                        p.footer-menu__text Partners
                                        p.footer-menu__text Careers
                                        p.footer-menu__text Press
                                        p.footer-menu__text Community
                                li.footer-menu__nav 
                                        p.footer-menu__main Subscribe newsletter
                                        p.footer-menu__discription Sign up for tips, new destinations, and exclusive promos.
                                        div.email
                                                form(action="#").email-send
                                                        input(type="text" id="doctor-name" placeholder="Enter your email").send
                                                button.subcribe Subcribe
                                        

            .footer-end 
                p.rights © 2021 Healthcare - All rights reserved.
                div.end-nav 
                        p.end-text Privacy
                        p.end-text Security
                        p.end-text Terms