header.header 
    div.container
        div.header-main
            a(href="#").header-logo
                p.logo-name HEALTCARE.
            .header__link 
                a(href="#").header-link 
                    p.header-link__main Home
                a(href="#").header-link 
                    p.header-link__text About
                a(href="#").header-link 
                    p.header-link__text Article
                a(href="#").header-link 
                    p.header-link__text Services
                a(href="#").header-link--inverse
                    p.header-link__get Get Started

        