header.header 
    div.container
        div.header-main
            a(href="#").header-logo HEALTHCARE.
            .header-nav
                a(href="#").header-link__main  Home
                a(href="#").header-link__text About
                a(href="#").header-link__text Article
                a(href="#").header-link__text Services
                a(href="#").header-link__get Get Started

        