section.main-section 
    .container 
        .main-section__container
            div.main-section__find
                h1.main-title Find And Search Your 
                p.primary Suitable Doctors 
                p.main-section__description Join us and take care of yourself and your family with health services that will make you feel confident and safe in your daily life.
                div.select-doctors
                    form(action="#").form
                        div.fieldgroup
                            label(for="doctor-name").label 
                            input(type="text" id="doctor-name" placeholder="Find your doctor").field
                            select.select-coutry(aria-label='select example')
                                option(selected='') New York, USA
                                option(value='1') State of Idaho
                                option(value='2') State of Iowa
                                option(value='3') State of Alabama
                            button.find
                                img(src="./assets/imgs/search.svg", alt="find").find-img
            div.main-section__img
                img(src="./assets/imgs/main-img.png", alt="main-img").main-img
            
                

                
                    
                


