section.quality-section 
    .container 
        .quality-section__container
            div.quality-section__img
                img(src="./assets/imgs/quality.png", alt="quality-img").quality-img
            .guality-section__descriotion 
                h2.best-quality Best quality service with our experience doctors
                p.best-quality__discription With our top doctors, we are able to provide best medical services above average We have highly experienced doctors, so don't worry They are also very talented in their fields
                ul 
                    li.best-quality__nav Search your specialist & Online consultations anywhere
                    li.best-quality__nav Consultation our top specialists
                    li.best-quality__nav Doctors are available 24/7