section.service-section 
    .container 
        .service-section__container
            h2.service-section__main Our Service
            p.section-text Our doctors have high qualified skills and are guaranteed to help you recover from your disease.
        div.service-section__row
            mixin item(img, title, text)
                div.service-section__mixit
                    img(src=img, alt="row").service-section__img
                    div.service-section__head=title
                    div.service-section__description=text
            +item('./assets/imgs/service-first.svg', 'Cardiology', 'Our cardiologists are skilled at  the diagnosing and treating diseases of the cardiovascular system.')
            +item('./assets/imgs/service-second.svg', 'Pulmonology', 'Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.')
            +item('./assets/imgs/service-third.svg', 'Medicine', 'Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.')